$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

.jumbotron {
  background-image: url('./Bank_Vault_3D_Wallpaper-HD.jpg');
  background-size: cover;
  height: 100vh;

}

.navbar {
  margin-bottom: 0;
}
.title-landing {
  position: absolute;
  top: 50%;
  left: 65%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
}

#fileId {
  display: none;
}
